/RemoteCtrl/.vs
/RemoteCtrl/RemoteCtrl/RemoteCtrl.vcxproj.user
/RemoteCtrl/RemoteClient/RemoteClient.vcxproj.user
/RemoteCtrl/RemoteCtrl/Debug
/RemoteCtrl/RemoteClient/Debug
/RemoteCtrl/Debug
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.tlog
/RemoteCtrl/Debug/RemoteClient.exe
/RemoteCtrl/Debug/RemoteClient.pdb
/RemoteCtrl/Debug/RemoteCtrl.exe
/RemoteCtrl/Debug/RemoteCtrl.pdb
/RemoteCtrl/RemoteClient/Debug/RemoteClient.exe.recipe
/RemoteCtrl/RemoteClient/Debug/RemoteClient.ilk
/RemoteCtrl/RemoteClient/Debug/RemoteClient.log
/RemoteCtrl/RemoteClient/Debug/RemoteClient.obj
/RemoteCtrl/RemoteClient/Debug/RemoteClient.pch
/RemoteCtrl/RemoteClient/Debug/RemoteClient.res
/RemoteCtrl/RemoteClient/Debug/RemoteClient.tlog/CL.command.1.tlog
/RemoteCtrl/RemoteClient/Debug/RemoteClient.tlog/CL.read.1.tlog
/RemoteCtrl/RemoteClient/Debug/RemoteClient.tlog/CL.write.1.tlog
/RemoteCtrl/RemoteClient/Debug/RemoteClient.tlog/Cl.items.tlog
/RemoteCtrl/RemoteClient/Debug/RemoteClient.tlog/RemoteClient.lastbuildstate
/RemoteCtrl/RemoteClient/Debug/RemoteClient.tlog/link.command.1.tlog
/RemoteCtrl/RemoteClient/Debug/RemoteClient.tlog/link.read.1.tlog
/RemoteCtrl/RemoteClient/Debug/RemoteClient.tlog/link.write.1.tlog
/RemoteCtrl/RemoteClient/Debug/RemoteClient.tlog/rc.command.1.tlog
/RemoteCtrl/RemoteClient/Debug/RemoteClient.tlog/rc.read.1.tlog
/RemoteCtrl/RemoteClient/Debug/RemoteClient.tlog/rc.write.1.tlog
/RemoteCtrl/RemoteClient/Debug/RemoteClientDlg.obj
/RemoteCtrl/RemoteClient/Debug/pch.obj
/RemoteCtrl/RemoteClient/Debug/vc143.idb
/RemoteCtrl/RemoteClient/Debug/vc143.pdb
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.Build.CppClean.log
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.exe.recipe
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.ilk
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.log
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.obj
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.pch
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.res
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.tlog/CL.command.1.tlog
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.tlog/CL.read.1.tlog
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.tlog/CL.write.1.tlog
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.tlog/Cl.items.tlog
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.tlog/RemoteCtrl.lastbuildstate
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.tlog/link.command.1.tlog
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.tlog/link.read.1.tlog
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.tlog/link.write.1.tlog
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.tlog/rc.command.1.tlog
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.tlog/rc.read.1.tlog
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.tlog/rc.write.1.tlog
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.vcxproj.FileListAbsolute.txt
/RemoteCtrl/RemoteCtrl/Debug/pch.obj
/RemoteCtrl/RemoteCtrl/Debug/vc143.idb
/RemoteCtrl/RemoteCtrl/Debug/vc143.pdb
/RemoteCtrl/Debug/*.pdb
/RemoteCtrl/Debug/*.exe
/RemoteCtrl/RemoteClient/Debug/*.recipe
/RemoteCtrl/RemoteClient/Debug/*.ilk
/RemoteCtrl/RemoteClient/Debug/*.log
/RemoteCtrl/RemoteClient/Debug/*.obj
/RemoteCtrl/RemoteClient/Debug/*.pch
/RemoteCtrl/RemoteClient/Debug/*.res
/RemoteCtrl/RemoteClient/Debug/RemoteClient.tlog/*.tlog
/RemoteCtrl/RemoteClient/Debug/RemoteClient.tlog/*.lastbuildstate
/RemoteCtrl/RemoteClient/Debug/*.idb
/RemoteCtrl/RemoteClient/Debug/*.pdb
/RemoteCtrl/RemoteCtrl/Debug/*.log
/RemoteCtrl/RemoteCtrl/Debug/*.recipe
/RemoteCtrl/RemoteCtrl/Debug/*.ilk
/RemoteCtrl/RemoteCtrl/Debug/*.obj
/RemoteCtrl/RemoteCtrl/Debug/*.pch
/RemoteCtrl/RemoteCtrl/Debug/*.res
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.tlog/*.tlog
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.tlog/*.lastbuildstate
/RemoteCtrl/RemoteCtrl/Debug/*.txt
/RemoteCtrl/RemoteCtrl/Debug/*.idb
/RemoteCtrl/RemoteCtrl/Debug/*.pdb
/RemoteCtrl/RemoteClient/RemoteClient.vcxproj.user
/RemoteCtrl/Debug/RemoteClient.pdb
/RemoteCtrl/Debug/RemoteClient.exe
/RemoteCtrl/Debug/RemoteCtrl.exe
/RemoteCtrl/Debug/RemoteCtrl.pdb
/RemoteCtrl/Debug/RemoteCtrl.exe
